.review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    justify-content: space-between;
}
@media(max-width: 1300px){
    .review{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 100px;
    }
}
@media(max-width: 770px){
    .review{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 100px;
    }
}
.container{
    margin-bottom: 100px;
}