.testimonial {
    position: absolute;
    left: 50%;
    bottom: -2200px;
}
@media(max-width:1200px){
    .testimonial {
        position: absolute;
        left: 50%;
        bottom: -2200px;
    }
}
@media(max-width:700px){
    .testimonial {
        position: absolute;
        left: 50%;
        bottom: -4400px;
    }
}
@media(max-width:720px){
    .testimonial {
        position: absolute;
        left: 50%;
        bottom: -4400px;
    }
}